h1{
    text-align: center;
    text-decoration-color: brown;
}

p{
    font-style: italic;
    color: aqua;
    text-align: center;
}

div{
    text-align: center;
    background-color: antiquewhite;
    color:darkmagenta;
}