<h1>History</h1>
<div>
    <p>
        Founded in 2010, began as a small passion project with a big vision: to redefine excellence in our industry. 
        What started in a modest workspace with just a handful of dedicated individuals has grown into a thriving organization known for innovation, integrity, and impact. 
        Over the years, we've expanded our services, built lasting relationships, and embraced change as a catalyst for growth. Through every challenge and milestone, our commitment to quality and our customers has remained unwavering.
         Today, we continue to evolve—driven by the same values that sparked our journey from day one.
    </p>
</div>