h3{
    text-align: center;
}

/* .image-container{
  display: flex;
  justify-content: center;  
  align-items: center;      
  height: 100vh;
}
 
.banner-img {
  width: 405px;
  height: 237px;
  object-fit: cover;
  border-radius: 8px;
} */